.c_ListHeaderBlank{
    height: 200px;
    
    display: flex;
    
}

.c_ListContainer{
    height: auto;
    
    display: flex;
}


.c_ListLeft{
    width: 20%;
    height: 100%;
   
    
}

.c_ListRight{
    width: 20%;
    height: 100%;
   
}

.c_ListCenter{
    width: 60%;
    height: 100%;
}
.c_ListListBox{
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: 120px;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    
}

.c_ListListName_1{    
    width: 10%;
}

.c_ListListName_2{    
    width: 10%;
}

.c_ListListName_3{    
    width: 10%;
}
.c_ListListPostNumber{
    width: 10%;
}

.c_ListBtnBox{
    display: flex;
    justify-content: right;
    align-items: center;
    width: auto;
}

.c_ListMid{
    width: 80%;
}


.c_ListListRowTop{
    display: flex;
    padding: 10px;
    padding-left: 50px;
    
}

/* .c_ListBlank{
    width: auto%;
} */

.C_ListListRowBottom{
    width: auto;
    height: 50px;
    display: flex;    
    margin-left: 30px;
    padding: 20px;
    border-radius: 10px;    
   
       
}
.c_ListBottomBlank{
    height: 100px;
}
.c_ListListBtnBox{
    display: flex;
    justify-content: right;
    width: 50%;

    
}
.c_ListListTitle{
    width: 50%;
}
.c_ListPagination{
    display: flex;
    justify-content: center;
}
.c_ListListBtn1{
    margin-right: 10px;
}
.c_ListListBtn2{
    margin-right: 10px;
}
