.c_CreateHeaderBlank{
    height: 200px;    
    display: flex;    
}
.c_CreateContainer{
    height: auto;    
    display: flex;
    
}
.c_CreateLeft{
    width: 20%;
    height: 100%;    
}
.c_CreateRight{
    width: 20%; 
    height: 100%;  
}
.c_CreateCenter{
    width: 60%;
    height: 100%;
}
.c_CreatebuttonContainer{
    display: flex;
    width: 100%;
    justify-content: right;
    margin-bottom: 500px;
}
.c_CreateOkButton{
    width: auto;
    margin-right: 15px;
}
.c_CreateCancelButton{
    width: auto;
}
.c_Createheight100{
    height: 100px;
}
.c_CreateCategory{
    margin-top: 20px;
}
.c_CreateContent{
    margin-top: 20px;
}
.c_CreateTitle{
    width: 100%;
}