.c_HeaderBlank{
    height: 200px;
    
    display: flex;
    
}

.c_Container{
    height: 800px;
    
    display: flex;
}


.c_Left{
    width: 20%;
   
   
    
}

.c_Right{
    width: 20%;
    
   
}

.c_Center{
    width: 60%;
     
}
.c_buttonContainer{
    display: flex;
    width: 100%;
    justify-content: right;
}

.c_Category{
    margin-top: 20px;
}

.c_Content{
    margin-top: 20px;
    
}
.c_BtnContainer{
    display: flex;
    width: 100%;
    justify-content: right;
}
.c_EditButton{
    width:auto;
    margin-right: 15px;
}
.c_DeleteButton{
    width:auto;
}
.c_BtnBox_1{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: right;
}
.c_LikeBtn{
    width: auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.c_CommentBtn{
    width: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
}


.c_CommentSaveBtn{
    display: flex;
    width: auto;
    justify-content: right;
    
}
.c_TitleBox{
    width: auto;
    margin-top: 20px;
    height: 50px;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    padding-left: 20px;
    display: flex;
    align-items: center;
    
  }
  .c_CategoryBox{
    width: auto;
    margin-top: 20px;
    height: 50px;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .c_ContentBox{
    width: auto;
    margin-top: 20px;
    height: 350px;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    display: flex;
    padding: 20px;
   
  }

.c_CommentDetail{
    width: auto;
    margin-top: 20px;
    height: auto;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    
}
.c_CommentBox{
       
    height: 600px;
   
   
}


.c_CommentBtnBox{
    display: flex;
    justify-content: right;
}
.c_CommentBtn1{
    width: 4%;
    display: flex;
    align-items: center;
}
.c_CommentBtn2{
    width: 4%;
    display: flex;
    align-items: center;
}
.c_CommentBtn3{
    width: 4%;
    display: flex;
    align-items: center;
}
.c_CommentWriter{
    width: 10%;
}
.c_CommentContent{
    margin-top: 20px;
}
.c_BottomBlank{
    height: 100px;
}
.c_Writer_DateBox{
    display: flex;
    padding-left: 20px;
}
.c_Date{
    padding-left: 20px;
}