.c_DetailHeaderBlank{
    height: 200px;    
    display: flex;    
}

.c_DetailContainer{
    height: auto;    
    display: flex;
}
.c_DetailLeft{
    width: 20%;  
    height: 100%; 
}
.c_DetailRight{
    width: 20%;
    height: 100%;
}

.c_DetailCenter{
    width: 60%;
    height: 100%;
     
}
.c_DetailbuttonContainer{
    display: flex;
    width: 100%;
    justify-content: right;
}

.c_DetailCategory{
    margin-top: 20px;
}

.c_DetailContent{
    margin-top: 20px;
    
}
.c_DetailBtnContainer{
    display: flex;
    width: 100%;
    justify-content: right;
}
.c_DetailEditButton{
    width:auto;
    margin-right: 15px;
}
.c_DeleteButton{
    width:auto;
}
.c_DetailBtnBox_1{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: right;
}
.c_DetailLikeBtn{
    width: auto;
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.c_DetailCommentBtn{
    width: auto;
    margin-left: 10px;
    display: flex;
    align-items: center;
}


.c_DetailCommentSaveBtn{
    display: flex;
    width: auto;
    justify-content: right;
    
}
.c_DetailTitleBox{
    width: auto;
    margin-top: 20px;
    height: 50px;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    padding-left: 20px;
    display: flex;
    align-items: center;
    
  }
  .c_DetailCategoryBox{
    width: auto;
    margin-top: 20px;
    height: 50px;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .c_DetailContentBox{
    width: auto;
    margin-top: 20px;
    min-height: 350px; 
    height: auto;       
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    display: flex;
    padding: 20px;
   
  }
  

.c_DetailCommentDetail{
    width: auto;
    margin-top: 20px;
    height: auto;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    
}
.c_DetailCommentBox{
       
    height: 100%;
   
   
}


.c_DetailCommentBtnBox{
    display: flex;
    justify-content: right;
}
.c_DetailCommentBtn1{
    width: 4%;
    display: flex;
    align-items: center;
}
.c_DetailCommentBtn2{
    width: 4%;
    display: flex;
    align-items: center;
}
.c_DetailCommentBtn3{
    width: 4%;
    display: flex;
    align-items: center;
}
.c_DetailCommentWriter{
    width: 10%;
}
.c_DetailCommentContent{
    margin-top: 20px;
}
.c_DetailBottomBlank{
    height: 100px;
}
.c_DetailWriter_DateBox{
    display: flex;
    padding-left: 20px;
}
.c_DetailDate{
    padding-left: 20px;
}