.c_HeaderBlank{
    height: 200px;
    
    display: flex;
    
}

.c_Container{
    height: 800px;
    
    display: flex;
}


.c_Left{
    width: 20%;
   
   
    
}

.c_Right{
    width: 20%;
    
   
}

.c_Center{
    width: 60%;
}
.c_ListBox{
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    height: 120px;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    
}

.c_ListName_1{    
    width: 10%;
}

.c_ListName_2{    
    width: 10%;
}

.c_ListName_3{    
    width: 10%;
}
.c_ListPostNumber{
    width: 10%;
}

.c_BtnBox{
    display: flex;
    justify-content: right;
    align-items: center;
}

.c_Mid{
    width: 80%;
}


.c_ListRowTop{
    display: flex;
    padding: 10px;
    padding-left: 50px;
    
}

/* .c_ListBlank{
    width: auto%;
} */

.C_ListRowBottom{
    width: auto;
    height: 50px;
    display: flex;    
    margin-left: 30px;
    padding: 20px;
    border-radius: 10px;    
   
       
}
.c_BottomBlank{
    height: 100px;
}
.c_ListBtnBox{
    display: flex;
    justify-content: right;
    width: 50%;
}
.c_ListTitle{
    width: 50%;
}
.c_Pagination{
    display: flex;
    justify-content: center;
}
