.m_HeaderBlank{
    height: 200px;
    
    display: flex;
    
}
.m_ContainerDetail{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%; /* 화면 비율 그리드로 조정 */
    justify-items: center
}

.m_RightDetail, .m_LeftDetail {

}

.m_CenterDetail{
    min-width: 1000px;
    max-width: 1200px;
    height: 100vh;
}
.m_FundingBox{
    width: 100%;
    height: auto;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    
}
.m_LongCard{
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

.m_DetailBox{
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 200px;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
   
    
}
.m_BottomBlank{
    height: 100px;
}


