.m_HeaderBlank{
    height: 200px;
    
    display: flex;
    
}
.m_Container{
    height: 800px;
    
    display: flex;
}
.m_Left{
    width: 20%;
   
   
    
}

.m_Right{
    width: 20%;
    
   
}

.m_Center{
    width: 60%;
}
.m_FundingBox{
    width: 100%;
    height: auto;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
    
}
.m_LongCard{
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
}

.m_DetailBox{
    width: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height: 200px;        
    border-radius: 10px;    
    border: solid 1px #d3d3d3;
   
    
}
.m_BottomBlank{
    height: 100px;
}
