/*  headerarea, container100, list_left, list_right, carousel : 전역 변수를 따르기로 함  */
body {
    height: 100vh;
}

.base-center {
    width: 70%;
}

.centerBoard {
    width: 100%;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 82% 29%;
}

.inner-content-right {
    transform: translateX(-38.3%) translateY(0.75%);
}

.inner-content-right h2 {
    /* 실시간 랭킹 텍스트 조정 항목 */
}

.inner-content-bottom {
    grid-column: 1 / span 2;
}

.inner-content-bottom .SliderItem {
    transform: scale(1.086) translateX(3.95%);
}

.inner-content-left {
    float: auto;
}

.sliderTitle {
    /* title과 게시물 사이의 간격 조정 */
}