body {
  margin: 0;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: 65% 35%;
  height: 100vh;
}

.left {
  background-color: #cccbcb;
}
.right {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.login-form {
  transform: scale(1.2);
}

.logo-name {
  letter-spacing: 2px;
  margin-bottom: 10%;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 900;
  margin: 7% 0 15% 0;
}

.login-input {
  text-align: center;
}

.input-group {
  margin: 20px;
}

.input-id {
  height: 3rem;
  width: 24rem;
  border-radius: 10px;
  border: hidden;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #ebdefa;
}

.input-password {
  height: 3rem;
  width: 24rem;
  border-radius: 10px;
  border: hidden;
  padding: 0 0.5rem 0 0.5rem;
  background-color: #ebdefa;
}

.input-id::placeholder {
  color: rgb(204, 18, 233);
}

.input-password::placeholder {
  color: rgb(204, 18, 233);
}

.join-link {
  margin: auto;
  width: 25rem;
}

.join-link p {
  font-size: 12px;
  text-align: right;
}

.join-link p a {
  text-decoration-line: none;
  color: rgb(178, 8, 204);
}

.action {
  text-align: center;
}
.api-login {
}
.api-login hr {
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.api-login p {
  margin-top: -18px;
  margin-left: 20px;
  font-weight: 700;
  font-size: 13px;
}

.submit-button {
  height: 3rem;
  width: 25rem;
}

.api-login-button {
  list-style-type: none;
  display: flex;
  padding: 10px 40px 0 40px;
  margin-bottom: -16px;
  justify-content: space-around;
  text-align: center;
}

.facebook-icon {
  text-align: center;
  margin-top: 1px;
}

.api-login-button li:nth-of-type(2) {
  margin-left: 10px;
}

.naver-icon {
  text-align: center;
  margin-top: 1px;
  padding-top: 10px;
  border-radius: 30px;
  background-color: rgb(0, 170, 0);
  width: 45px;
  height: 35px;
  transform: scale(1.2);
}

.kakao-icon {
  transform: scale(1.2);
}
.kakao-icon li {
  margin-top: 2px;
  font-weight: 500;
  font-size: 15px;
}

.naver-icon li {
  margin-top: 11.5px;
  font-weight: 500;
  font-size: 15px;
}

.facebook-icon li {
  margin-top: -3px;
  margin-left: 3px;
  font-weight: 500;
  font-size: 15px;
}

.socialLogButton {
  border: none;
  background-color: white;
}

