body {
  margin: 0;
}

.colorbase {
}

.baseDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1050px;
}

.registrationDiv {
  width: 840px;
  height: 950px;
  border-radius: 5px;
  padding-left: 30px;
  box-shadow: 4px 4px 2px 2px rgb(160, 160, 160);
  background-color: white;
}

.formDiv {
  margin-top: 55px;
}

.checkBtn,
.addressFind {
  height: 2.2rem;
  width: 7rem;
  border: none;
  position: relative;
  border-radius: 10px;
  margin-left: 5px;
  color: white;
  background-color: #701edb;
}

label {
  font-weight: 700;
}

.username-input,
.password-input,
.passwordCheck-input,
.fullname-input,
.nickname-input,
.email-input,
.address-input {
  height: 2rem;
  width: 28rem;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.inputDiv2,
.inputDiv4 {
  margin-top: 40px;
}

.inputDiv3 {
  margin-top: 10px;
}

.inputDiv5,
.inputDiv6,
.inputDiv7 {
  margin-top: 20px;
}

.inputDiv7 {
  margin-top: 40px;
}

.inputDiv8 {
  margin-top: 40px;
}

.checkboxForm {
  position: relative;
  top: 3px;
  zoom: 1.5;
}

.inputDiv9 {
  margin-top: 45px;
  text-align: center;
  padding-right: 30px;
}

.inputDiv9 a {
  text-decoration: none;
}

.reg_height150 {
  height: 150px;
}

.checkBtn:active,
.addressFind:active {
  box-shadow: inset 2px 2px 3px 2px rgb(72, 7, 82);
}

.validCheck {
  color: rgb(22, 206, 15);
  font-size: 0.75rem;
  margin-left: 6px;
}

.validCheck-false {
  color: red;
  font-size: 0.8rem;
  margin-left: 6px;
}

